thead {
  background-color: blue;
  color:white;
  font-weight: bolder;
  border-spacing: 10px;
}
td , th {
  border: 1px solid black;
  padding: 5px;
}
table {
  border: 1px solid black;
  border-collapse: separate;
}